.page-header{
  float:left;
}
.jumbotron{
  background-color: #001f3f;
}
.main-title{
  color: white;
}
.important{
  font-weight: bold;
  font-style: italic;
  color: #0066cc
}
h3,h4,h5{
  font-weight: bold;
}
.jumbotron{
  padding-right: 0px;
  padding-left: 30px;
}
.my-table-style table{
  background: #f5d189;
  margin-top: 0px;
  margin-bottom: 0px;
}


.panel-warning{
  background: #f5d189	;
}

.page-header h1{
  color: f5d189;
}
body{
  background: #e6e6e6;
}
.KnowMe{
  background: #f5d189;
  margin-top: 50px;
  float: right;
}
.div-knowMe{
  margin-top: 30px;
}
